$DarkMainElements: hsl(209, 23%, 22%);
$DarkModeBackground: hsl(207, 26%, 17%);
$LightModeBackground: hsl(0, 0%, 98%);
//(Dark Mode Text & Light Mode Elements)
$White: hsl(0, 0%, 100%);

$boxShadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.14);
