@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	background-color: $DarkModeBackground;
	color: $White;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}
.btn {
	background: none;
	background-color: $DarkMainElements;
	border: none;
	border-radius: 3px;
	padding: 10px 40px;
	box-shadow: $boxShadow;
	color: $White;
	font-weight: 600;
}

body.lightMode {
	background-color: $LightModeBackground;
	color: $DarkModeBackground;
	.btn {
		background-color: $White;
		color: $DarkModeBackground;
	}
	.header {
		background-color: $White;
		color: $DarkModeBackground;
		.modeSwitch {
			color: $DarkModeBackground;
		}
	}
	.searchBar {
		.searchInput {
			background-color: $White;
			color: $DarkModeBackground;
		}
		.custom-select__trigger {
			background-color: $White;
			color: $DarkModeBackground;
		}
		.arrow::before,
		.arrow::after {
			background-color: $DarkModeBackground;
		}
		.custom-options {
			background-color: $White;
			.custom-option {
				color: $DarkModeBackground;
				&:hover {
					background-color: $LightModeBackground;
				}
			}
		}
	}
	.countryCard {
		background-color: $White;
	}
}
