.countryCard {
  border-radius: 5px;
  overflow: hidden;
  background-color: #2b3945;
  box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.14); }
  .countryCard:hover {
    box-shadow: none;
    transition: 0.3s ease-in; }
  .countryCard .flag {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .countryCard .details {
    padding: 20px 20px 40px; }
    .countryCard .details h2 {
      font-size: 1.2rem;
      margin-bottom: 20px; }
    .countryCard .details h3 {
      font-size: 1rem;
      margin-bottom: 0.2rem; }
      .countryCard .details h3 span {
        font-weight: 300; }
