.header {
  background-color: #2b3945;
  box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.14);
  padding: 30px 0;
  margin-bottom: 70px; }
  .header .container {
    display: flex;
    justify-content: space-between; }
    .header .container button {
      background: none;
      border: none;
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer; }
      .header .container button:hover {
        color: grey;
        transition: color 0.2s ease-in; }
