@import '../vars';

.countryCard {
	&:hover {
		box-shadow: none;
		transition: 0.3s ease-in;
	}
	border-radius: 5px;
	overflow: hidden;
	background-color: $DarkMainElements;
	box-shadow: $boxShadow;
	.flag {
		width: 100%;
		height: 150px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.details {
		padding: 20px 20px 40px;
		h2 {
			font-size: 1.2rem;
			margin-bottom: 20px;
		}
		h3 {
			font-size: 1rem;
			margin-bottom: 0.2rem;
			span {
				font-weight: 300;
			}
		}
	}
}
