@import '../vars';

.header {
	background-color: $DarkMainElements;
	box-shadow: $boxShadow;
	padding: 30px 0;
	margin-bottom: 70px;
	.container {
		display: flex;
		justify-content: space-between;
		button {
			background: none;
			border: none;
			color: white;
			font-size: 1.1rem;
			font-weight: 600;
			cursor: pointer;
			&:hover {
				color: grey;
				transition: color 0.2s ease-in;
			}
		}
	}
}
