@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

body {
  background-color: #202c37;
  color: white; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }

.btn {
  background: none;
  background-color: #2b3945;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  box-shadow: 0px 0px 6px 7px rgba(0, 0, 0, 0.14);
  color: white;
  font-weight: 600;
  cursor: pointer; }
  .btn:hover {
    box-shadow: none; }

.btnDanger {
  background-color: red !important; }
  .btnDanger:hover {
    background-color: darkred !important; }

body.lightMode {
  background-color: #fafafa;
  color: #202c37; }
  body.lightMode .btn {
    background-color: white;
    color: #202c37; }
  body.lightMode .header {
    background-color: white;
    color: #202c37; }
    body.lightMode .header .modeSwitch {
      color: #202c37; }
  body.lightMode .searchBar .searchInput {
    background-color: white;
    color: #202c37; }
  body.lightMode .searchBar .custom-select__trigger {
    background-color: white;
    color: #202c37; }
  body.lightMode .searchBar .arrow::before,
  body.lightMode .searchBar .arrow::after {
    background-color: #202c37; }
  body.lightMode .searchBar .custom-options {
    background-color: white; }
    body.lightMode .searchBar .custom-options .custom-option {
      color: #202c37; }
      body.lightMode .searchBar .custom-options .custom-option:hover {
        background-color: #fafafa; }
  body.lightMode .countryCard {
    background-color: white; }
